@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body {
    background-color: #f2f2f2;
}

.doc-base-404-header,
.doc-base-404-footer {
    background-color: #323232;
    height: 7rem;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 1.1rem;
}

.doc-base-404-header {
    font-size: 1.6rem;
    font-family: "Open Sans", Arial, Helvetica;
    letter-spacing: 0.2rem;
    padding: 2.5rem 0 0 2.5rem;
}

.doc-base-404-header a {
    color: #66CCFF;
}

.doc-base-404-main-body {
    min-height: 40rem;
    margin: 0;
}

.doc-base-404-content {
    min-height: 40rem;
    height: 100%;
}

.doc-base-404-content h1 {
    font-family: 'Roboto Slab';
    font-size: 3.0rem;
    margin-top: 6rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
