---
title: Multimodal Testing
layout: content
category: Tools
---

When designing and developing a product or service, consider all the different ways that a user might interact with it. For example, in the case of a digital interface, ensure that you integrate features into your product to make it compatible with screen readers, keyboard only users, and single switches. When you are ready, you can test your design in a number of different ways. It is best to run usability tests with participants who have a broad range of needs and experiences.

The audio experience of a digital interface can be tested in the very early stages of design with only sketches or paper prototypes, by having someone act as a human screen reader (by reading out the audio as a screen reader would). Once an interactive prototype is created, it can be tested with various input/output methods, including screen readers or other assistive technologies. Websites can be tested using various web accessibility checkers, however, these should be used only as an initial guide.


## Try

1. Useing the native screen reader on your computer (e.g. NVDA on Windows or Voice Over on Mac - both of which are free of charge) to run initial tests on a digital interface
2. Navigating an interface without a mouse or track pad to test for keyboard-only interaction
3. Finding a user who is familiar with the specific assistive technology in question to test your designs, as their experience will provide more realistic and nuanced feedback related to their expectations of typical behaviour.

## Combine with

<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [UX Walkthroughs](/tools/UXWalkthroughs.html)</li>
<li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Usability Testing](/tools/UsabilityTesting.html)</li>
<li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Prototyping](/tools/Prototyping.html)</li></ul>
