/* General styling */
docs-fonts ?= "OpenSans-Light", Arial, Helvetica;
docs-header-font ?= "RobotoSlab";
button-focus ?= 0.2rem solid #0000CB;
link-color ?= #0000CB;
link-hover-color ?= #fff;
link-hover-background ?= #0000CB;
site-width ?= 80rem; // the width of the entire site.
site-border ?= 0.1rem solid #ccc; // the borders that appear when site-width exceeded.

/* Main Content Area */
docs-body-background ?= #fff;
docs-content-note-border ?= #000;

/* Header and Footer */
header-footer-color ?= #000;
header-footer-background ?= #C5E0C5;
header-footer-link ?= #00444D;
header-footer-hover-color ?= #fff;
header-footer-hover-background ?= #00444D;
header-footer-focus ?= 0.2rem solid #00444D;
header-nav-link ?= #00444D;
header-nav-background ?= #e4eee4;
header-nav-hover-color ?= #e4eee4;
header-nav-hover-background ?= #00444D;
header-nav-border-top ?= 0.1rem dotted #fff;
header-nav-border-bottom ?= 0.1rem solid #cfcfcf;
header-menu-border ?= 0.2rem solid #cfcfcf;

/* Skip Links */
skip-color ?= #00444D;
skip-background ?= #C5E0C5;
skip-focus-outer-border ?= #00444D;
skip-focus-inner-border ?= #C5E0C5;
skip-hover-color ?= #C5E0C5;
skip-hover-background ?= #00444D;

/* Logo */
logo-color ?= #00444D;
logo-background ?= #C5E0C5;
logo-hover-color ?= #C5E0C5;
logo-hover-background ?= #00444D;
logo-focus ?= 0.2rem solid #00444D;
logo-font-path ?= "../fonts/logo";
logo-unicode ?= "\e91f";

/* Table of Contents Sidebar */
topics-background ?= #efefef;
topics-item-color ?= #000;
topics-active-color ?= #000;
topics-active-background ?= #efefef;
topics-item-hover-color ?= #fff;
topics-item-hover-background ?= #000;
topics-item-focus-border ?= 0.2rem solid #000;
topics-border-color ?= #cfcfcf; // right border of topics container

/* Table of Contents Hide-Show ribbon */
hideShow-background ?= #efefef;
hideShow-color ?= link-color;
hideShow-focus ?= 0.2rem solid link-color;
hideShow-hover-color ?= #efefef;
hideShow-hover-background ?= link-color;

/* Article Body area */
articleBody-color ?= #000;
articleBody-background ?= #fff;

figure-caption-border ?= #fff;
figure-background ?= #efefef;

/* Code Blocks */
code-block-background ?= #efefef;
code-block-border ?= 0.1rem dotted #ddd;
code-block-color ?= #000;
code-block-link-color ?= #0000CB;

/* Tables */
table-border-color ?= #e7e7e7;

/* UIO Table of Contents */
uio-topics-background ?= #efefef;

/* Mixins */
/* Generate the ribbon "tail" of the hideShow ribbon.
foregroundColor - the foreground colour of the contrast theme.
backgroundColor - the background colour of the contrast theme.*/
contrastThemeHideShowRibbonColor(foregroundColor, backgroundColor) {
    border-bottom: 2.10rem solid foregroundColor;
    border-right: 2.1rem solid backgroundColor;
    border-top: 2.11rem solid foregroundColor;
}

/* Generate the parts which are within a .fl-inverted-color class.
foregroundColor - the foreground colour of the contrast theme.
backgroundColor - the background colour of the contrast theme.*/
contrastThemeInverted(foregroundColor, backgroundColor) {
    button:focus,
    a:focus {
        outline: 0.2rem solid backgroundColor !important;
        background: foregroundColor;
    }

    button:hover {
        outline: none !important;
    }

    a:hover,
    a:hover *,
    .ui-state-focus,
    .ui-state-hover,
    .ui-state-active,
    .ui-state-active .docs-template-nav-mobile-icon,
    .ui-state-focus .docs-template-nav-mobile-icon,
    button:hover {
         background: backgroundColor !important;
         color: foregroundColor !important;
     }

     .docs-template-category-active {
         font-weight: bold !important;

         &.ui-state-focus,
         &.ui-state-focus span {
             color: backgroundColor !important;
             background: foregroundColor !important;
         }

         span:before {
             color: backgroundColor !important;
         }
     }
}

/* Generate the contrast theme styles for docs-template.
foregroundColor - the foreground colour of the contrast theme.
backgroundColor - the background colour of the contrast theme.*/
contrastTheme(foregroundColor, backgroundColor) {
    a:hover,
    a {
        transition: none;
    }

    a:focus {
        outline: 0.2rem solid foregroundColor !important;
    }

    .docs-template-topics-hideShow:before,
    a:hover,
    a:hover code,
    a:hover .docs-template-topics-item {
        background-color: foregroundColor !important;
        color: backgroundColor !important;
    }

    .fl-inverted-color {
        contrastThemeInverted(foregroundColor, backgroundColor)
    }

    .docs-template-topics-hideShow:after {
        contrastThemeHideShowRibbonColor(foregroundColor, backgroundColor)
    }

    figure a:hover {
        outline: none !important;
    }

    figure a:hover img {
        background-color: foregroundColor !important;
    }

    .docs-template-topics-hideShow a:hover {
        background-color: backgroundColor !important;
        color: foregroundColor !important;
    }
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "github";
    src: url("../fonts/github-1.eot#iefix") format("embedded-opentype"),
         url("../fonts/github-1.ttf"),
         url("../fonts/github-1.eot");
}

@font-face {
    font-family: "logo";
    src: url(logo-font-path + ".eot#iefix") format("embedded-opentype"),
         url(logo-font-path + ".ttf"),
         url(logo-font-path + ".eot");
}

html body {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: docs-fonts;
}

.docs-template-container {
    background-color: docs-body-background;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    max-width: site-width;
    margin: 0 auto;
}

.docs-template pre {
    white-space: pre-wrap;
}

.docs-template td {
    border: 0.5rem solid table-border-color;
    vertical-align: top;
}

.docs-template a {
    color: link-color;
    text-decoration: underline;
    transition: backgroundColor 0.15s, background 0.15s, color 0.15s;
    display:inline-block;
}

.docs-template a:hover {
    transition: backgroundColor 0.15s, background 0.15s, color 0.15s;
}

/* override foundation, so UIO's line-spacing will work */
.docs-template h1, .docs-template h2, .docs-template h3, .docs-template h4, .docs-template h5, .docs-template h6,
.docs-template p,
.docs-template table tbody tr td,
.docs-template table tr td,
.docs-template ul,
.docs-template dl {
   line-height: inherit;
}

.fl-prefsEditor-buttons button:focus,
.docs-template a:focus {
    outline: button-focus;
    text-decoration: none;
}

/* Skip links */
#skip {
    float: left;
    height: 0rem;
}

#skip a {
    color: skip-color;
    background: skip-background;
}

#skip a,
#skip a:hover,
#skip a:visited {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
    color: skip-hover-color;
    background: skip-hover-background;
}

#skip a:active,
#skip a:focus {
    height: auto;
    width: auto;
    left: auto;
    border: 0.5rem solid skip-focus-inner-border;
    outline: 0.2rem solid skip-focus-outer-border;
    color: skip-hover-color;
    background: skip-hover-background;
    padding: 1rem;
    z-index: 1;
}

.docs-template-skip-topics {
    display: none;
}

.docs-core-sidebar-expanded .docs-template-skip-topics {
    display: initial;
}

/* OVERRIDE JQUERY UI WIDGET THEME */

.ui-icon-blank {
    display: none;
}

.ui-menu.ui-widget-content {
    background: header-footer-background;
    color: header-footer-color;
    border: none;
}

.ui-menu .ui-menu-item {
    background: header-footer-backkground;
    border: none;
    padding: 0 0.3rem;
}

/* Header and Footer */
.docs-template header {
    background-color: header-footer-background;
    margin: 0;
    max-width: none;
}

.docs-template-header,
.docs-template-footer {
    background-color: header-footer-background;
    color: header-footer-color;
    font-family: docs-fonts;

    a {
        color: header-footer-link;
    }

    a:focus {
        outline: header-footer-focus;
    }

    a:hover {
       color: header-footer-hover-color;
       background: header-footer-hover-background;
   }
}

.docs-template-header {
    max-width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;

    a {
        text-decoration: none;
    }

    h1 {
        color: inherit;
    }

    .inline-list {
       margin-bottom: 0;
       overflow: initial;
    }

    nav {
        padding: 0.2rem 1rem;
        background-color: header-nav-background;
        border-top: header-nav-border-top;
        border-bottom: header-nav-border-bottom;
    }

    nav.show-for-small-only {
        background: header-footer-background;
        border: none;
        padding: 0;
    }

    nav li {
        padding-bottom: 0.2rem;
    }

    nav span,
    nav a {
        color: header-nav-link;
        padding: 0.2rem 1rem;
        margin: 0;
    }
}

.docs-template-logo {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.2rem;
    background: logo-background;
    padding: 0.3rem;
    color: logo-color;
    display: inline-block;

    &:hover {
        background: logo-hover-background;
        color: logo-hover-color;
    }

    &:focus {
        outline: logo-focus;
    }

    &:before {
        font-family: "logo";
        content: logo-unicode;
        font-size: 2rem;
        text-align: bottom;
        padding-right: 0.2rem;
    }

    h1 {
        display: inline-block;
        margin: 0;
    }
}

.docs-template-tagline {
    font-size: 1rem;
    display: block;
    font-weight: normal;
    color: inherit;
    margin: 0;
    display: inline-block;
}

.docs-template-nav-mobile {
    padding: 0 0.5rem;
}

.docs-template-nav-mobile-icon {
    color: header-footer-color;
}

.docs-template-nav-mobile-icon:before {
    content: "\2630";
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}

.ui-state-active .docs-template-nav-mobile-icon,
.ui-state-focus .docs-template-nav-mobile-icon {
    background-color: header-nav-link;
    color: header-nav-background;
}

.ui-state-active .docs-template-dropDown a {
    color: header-nav-link;
    background-color: header-nav-background;
}

.docs-template .docs-template-dropDown-header {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.docs-template-dropDown {
    padding: 1rem;

    li {
        background: header-nav-background;
    }

    .ui-menu-item {
        padding: 0.8rem;
    }
}

.docs-template-dropDown-header.ui-state-hover,
.docs-template-dropDown-header.ui-state-focus,
.docs-template-dropDown-header.ui-state-active,
.docs-template-dropDown li.ui-state-hover,
.docs-template-dropDown li.ui-state-focus,
.docs-template-dropDown li.ui-state-hover a,
.docs-template-dropDown li.ui-state-focus a {
    color: header-nav-hover-color;
    background: header-nav-hover-background;
}

.docs-template-dropDown-header .docs-template-category-active {
    &.ui-state-focus,
    &.ui-state-focus span {
        color: header-nav-link;
        background: header-nav-background;
    }
}

.docs-template-category-active {
    span:before {
        color: header-nav-link;
        content: "\2590";
        display: inline-block;
        margin-right: 0.2rem;
    }
}

.docs-template-footer {
    padding: 2rem 0;
    font-size: 1.1rem;
    text-align: center;
    max-width: 100%;

    p {
        margin-bottom: 0;
    }
}

/* Main body area - contains sidebar and article, excludes header and footer */
.docs-template-mainBody {
    margin: 0;
    position: relative;
}

/* the article body */
.docs-template-articleBody  {
    padding: 5.5rem 2rem 6rem 2rem;
    color: articleBody-color;
    background: articleBody-background;

    // make article wider to take more room.
    width: 91.66%;
}

.docs-core-sidebar-expanded .docs-template-articleBody {
    // put width back to the same as Foundation's medium-8
    width: 75%;
}

.docs-template-404.docs-core-sidebar-expanded .docs-template-articleBody {
    width: 100%;
    max-width: none;
}

.docs-template-articleBody * {
    font-size: 1.2rem;
}

.docs-template-articleBody ul,
.docs-template-articleBody ol {
    margin: 0 2.5rem;
}

.docs-template-articleBody li {
    margin: 0.4rem 0 ;
}

.docs-template-articleBody a:hover {
    color: link-hover-color;
    background: link-hover-background;
}

.docs-template-articleBody pre code {
    font-weight: normal;
    border: code-block-border;
    border-radius: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.docs-template-articleBody code {
    font-weight: normal;
    color: code-block-color;
    background-color: code-block-background;
    font-size: inherit;
}

.docs-template-articleBody code a,
.docs-template-articleBody a code {
    font-size: inherit;
    border-bottom: 0.1rem dotted code-block-link-color;
    color: code-block-link-color;
    background: 0;
}

/* Topics list */
.docs-template-topics-container {
    background: topics-background;
    border-right: 0.2rem solid topics-border-color;

    flex-grow: 0;
    -webkit-flex-grow: 0;

    // hide the topics initially
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    width: 1px;
}

.docs-core-sidebar-expanded .docs-template-topics-container {
    overflow: auto;
    padding: 1.5rem;
    width: 25%; // put width back to the same as Foundation's medium-3
    flex-grow: 2;
    -webkit-flex-grow: 2;
}

.docs-core-sidebar-expanded .docs-template-topics {
    display: initial; // restore tabbability of topics
}

.docs-template-topics-hideShow {
    line-height: 2.3rem !important; // prevent UIO from changing this.
    margin: -4.4rem 0 0 -2rem;
    padding: 0.6rem;
    min-width: 13rem;
    background: hideShow-background;
    z-index: 1;

    &:after {
        contrastThemeHideShowRibbonColor(hideShow-background, docs-body-background)
        content: "";
        position:absolute;
        right: 0;
        display:block;
        top: 0;
    }

    &:before {
        content: "\2630";
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        color: hideShow-color;
    }

    &:hover,
    &:focus {
        outline: none;
    }

    a {
        color: hideShow-color;
        margin-right: 0rem;
        margin-top: 0rem;
        background: hideShow-background;
        padding: 0.4rem;
        display: inline-block;
        text-align: center;
    }

    a:hover {
        color: hideShow-hover-color;
        background: hideShow-hover-background;
    }

    a:focus {
        outline: 0.2rem solid hideShow-color;
    }
}

.docs-template-topics {
    width: 100%;
    display: none;

    ul {
        list-style-type: none;
    }

    li {
        padding: 0.6rem 0.2rem 0.6rem 0;
    }

    .docs-template-topics-active:before {
        content: "\2590";
        display: inline-block;
        margin-right: 0.2rem;
    }

    a {
        display: inline-block;
        color: topics-item-color;

        &:hover {
            background: topics-item-hover-background;
            text-decoration: none;
            color: topics-item-hover-color;
        }

        &:focus {
            outline: topics-item-focus-border;
        }
    }

    .docs-template-topics-active {
        color: topics-active-color;
        background: topics-active-background;
        display: inline-block;
    }

    .docs-template-category {
        font-family: 'OpenSans-Bold';
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.6rem;
        word-wrap: break-word;
    }

    .docs-template-sectionName {
        font-weight: normal;
        font-size: 1rem;
        margin:0;
    }
}

.docs-template-topics-item {
    padding: 0.2rem;
    border: none;
    color: topics-item-color;
    display:inline-block;
    width:100%;
    text-decoration: inherit;
}

/* Main Content Area */
.docs-template-note {
    border-left: solid;
    border-left-width: 0.3rem;
    border-color: docs-content-note-border;
    padding-left: 0.4rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.docs-template-githubLink {
    margin-top: 2rem;
}

.docs-template-githubLink a:before {
    display: inline-block;
    vertical-align: bottom;
    font-family: "github";
    content: "\e600";
    font-size: 1.3rem;
    padding-right: 0.5rem;
}

.docs-template-articleBody h1,
.docs-template-articleBody h2,
.docs-template-articleBody h3 {
    font-family: docs-header-font;
}

.docs-template-articleBody h1 { font-size: 3.0rem; }
.docs-template-articleBody h2 { font-size: 2.5rem; }
.docs-template-articleBody h3 { font-size: 1.5rem; }

.docs-template-articleBody > p:first-child {
    font-size: 1.4rem;
}

.docs-template-paragraphBullets {
    font-size: 1.3rem;
}

.docs-template-paragraphBullets li {
    padding-bottom: 0.25rem;
}

.docs-template-articleBody figure {
    background: figure-background;
    text-align: center;

    em {
        font-weight: bold;
    }

    figcaption, img {
        padding: 1rem;
    }

    figcaption {
        border-top: 0.2rem solid figure-caption-border;
    }

    figcaption a {
        outline: initial;
        color: link-color;
        background: link-background;
        display: inline;
    }

    figcaption a:hover {
        color: link-hover-color;
        background: link-hover-background;
    }

    img {
        margin: 0;
    }

    a {
        display: block;
    }

    a:hover {
        background: figure-background;
        // override the default link hover style.
        outline: 0.2rem solid link-hover-background;
    }
}

.docs-template-404 .docs-template-articleBody {
    width: 100%;
    max-width: none;
}

/* Infusion UIO */

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
    min-width: 7rem;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    margin-right: 2rem;
}
.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    font-size: 1.1rem;
    padding-top: 0.5rem;
    height: 2rem;
    margin-bottom: 0.7rem;
}

.docs-template-uio-toc {
    background: uio-toc-background;
}

.docs-template-uio-toc ul {
    list-style-type: none;
}

.docs-template-uio-toc li {
    margin: 0.8rem 0;
}

.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset{
    height: 2.5rem;
}
.docs-template.fl-text-larger .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide {
    min-width: 13rem;
}

/* Styles for high-contrast themes */
.fl-theme-bw,
.fl-theme-wb,
.fl-theme-by,
.fl-theme-yb,
.fl-theme-lgdg {
    a:hover .docs-template-topics-item {
        outline: none !important;
    }
}

.fl-theme-bw {
    contrastTheme(#000, #fff)
}

.fl-theme-by {
    contrastTheme(#000, #ff0)
}

.fl-theme-wb {
    contrastTheme(#fff, #000)
}

.fl-theme-yb {
    contrastTheme(#ff0, #000)
}

.fl-theme-lgdg {
    contrastTheme(#bdbdbb, #555)
}

// Mobile and small screens
@media only screen and (max-width: 40em) {

    .docs-template-logo {
        font-size: 1rem;
    }

    .docs-template-logo:before {
        font-size: 1rem;
    }

    .docs-template-header nav {
        margin-top: 0;
    }

    .docs-template-header nav span,
    .docs-template-header nav a {
        color: header-nav-link;
        padding: 0.2rem;
    }

    .docs-template-header h1 {
        font-size: 1.4rem;
    }

    .docs-core-sidebar-expanded .docs-template-topics-container {
        width: 50%;
    }

    .docs-core-sidebar-expanded .docs-template-articleBody {
        width: 50%;
    }

    .docs-template-topics-hideShow {
        min-width: 10.8rem;
        a {
            font-size: 0.9rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
    }

    .docs-template-404 .docs-template-articleBody {
        width: 100%;
        max-width: none;
    }

    .docs-template-articleBody h1 {
        font-size: 2.0rem;
    }

    .docs-template-articleBody h2 {
        font-size: 1.5rem;
    }

    .docs-template-articleBody h3 {
        font-size: 1.2rem;
    }
}

// Larger screens
@media only screen and (min-width: site-width) {
    .docs-template-container {
        border-left: site-border;
        border-right: site-border;
    }
}
