/* General styling */
docs-fonts = "OpenSans-Light", Arial, Helvetica;
docs-header-font = "OpenSans";
button-focus = 0.2rem solid #275287; // blue
link-color = #275287; // blue
link-hover-color = #fff;
link-hover-background = #275287;
//site-width ?= 80rem; // the width of the entire site.
//site-border ?= 0.1rem solid #ccc; // the borders that appear when site-width exceeded.

/* Main Content Area */
docs-body-background = #f2f2f2; // light grey
docs-content-note-border = #000;
// ul
//   list-style-type none
//   padding-left 0

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #3a4947;
header-footer-link = #fff;
header-footer-hover-color = #3a4947; // teal
header-footer-hover-background = #fff;
header-footer-focus = none //0.2rem solid #fff;
header-nav-link = #fff;
header-nav-background = inherit;
header-nav-hover-color = #185D5E; // lighter teal
header-nav-hover-background = #fff;
header-nav-border-top = none;
header-nav-border-bottom = 0.1rem solid #cfcfcf; // grey
header-active-category = 0.2rem solid #fff;

/* Skip Links */
skip-color = #fff;
skip-background = #3a4947; // teal
skip-focus-outer-border ?= #fff;
skip-focus-inner-border ?= #3a4947; // teal
skip-hover-color = #3a4947; // teal
skip-hover-background = #fff;

/* Logo */
logo-color = #fff;
logo-background = #3a4947; // teal
logo-hover-color = #3a4947; // teal
logo-hover-background = #fff;
logo-focus = 0.2rem solid #fff;
logo-font-path = "../fonts/floe-logo";
logo-unicode = "\e600";

/* Table of Contents Sidebar */
topics-background = #fff;
topics-item-color = #275287; // blue
topics-active-color = #275287; // blue
topics-active-background = #fff;
topics-item-hover-color = #fff;
topics-item-hover-background = #275287; // blue
topics-item-focus-border = 0.2rem solid #275287; // blue
//topics-border-color = #cfcfcf;

/* Table of Contents Hide-Show ribbon */
hideShow-background = #3a4947; // blue
hideShow-color = #fff;
hideShow-focus = 0.2rem solid #fff;
hideShow-hover-color = #275287; // blue
hideShow-hover-background = #fff;

/* Article Body area */
articleBody-color = #000;
articleBody-background = #f2f2f2;

figure-caption-border = #f2f2f2;
figure-background = #fff;

/* Code Blocks */
code-block-background = #fff;
code-block-border = 0.1rem dotted #aaa;
code-block-color = #000;
code-block-link-color = #275287; // blue

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-topics-background = #efefef;

/* Colours for categories */
principlesColor = #008b82;
practicesColor = #0e75ba;
toolsColor = #c02b56;
activitiesColor = #ee3f23;

@import "docs-template.css.styl";

@font-face {
    font-family: "DroidSans";
    src: url("../fonts/DroidSans.ttf") format('truetype');
}

.docs-template-header h1,
.docs-template-header a {
    display: inline-block;
}

.docs-template-header h1 {
    padding: 0 1rem;
    vertical-align: bottom;
}

.docs-template-header {
    margin-bottom: 2rem;
}

.docs-template-header .inline-list {
    font-size: 1.5rem;
}

.docs-guidelines-logo {
    width: 3rem;
    height: auto;
    margin: 0.2rem 0 0 0.5rem;
    path,
    circle {
        fill: logo-color;
    }
}

a:hover .docs-guidelines-logo {
    path,
    circle {
        fill: logo-hover-color;
    }
}

// Hack to prevent Sidebar expanded/ collapsed styles from affecting width on index
.docs-guidelines-index {
    &.docs-core-sidebar-expanded .docs-template-articleBody {
        width: 90%;
    }

    .docs-template-articleBody {
        padding-top: 2rem;
    }

    .docs-guidelines-index-section {
        background-color: #fff;
        padding: 1.5rem;
        margin: 2rem 0;
        border-radius: 0.2rem;
        display:flex;
        align-items:center;
    }

    ul {
        list-style: none;
        list-style-position: inside;
    }
}

#guidelines-path {
    height: auto;
}

.docs-guidelines-icon {
    width: 1rem;
    height: auto;
}

.docs-guidelines-iconPrinciples {
    fill: principlesColor;
}

.docs-guidelines-iconPractices {
    fill: practicesColor;
}

.docs-guidelines-iconTools {
    fill: toolsColor;
}

.docs-guidelines-iconActivities {
    fill: activitiesColor;
}

.docs-template-topics-container {
    border-left-width: 0.3rem;
    border-right-width: 0.3rem;
}

setNavTab(inputColor) {
    a, span {
        background-color: inputColor;
    }

    a:hover {
        color: inputColor;
        background-color: #fff;
        border-color: inputColor;
    }

    a:hover svg {
        fill: inputColor;
    }

    .docs-template-categoryActive {
        border-color: inputColor;
    }
}

.docs-guidelines-tabs {
    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-left: 0.25rem;
        margin-right: 0.25rem
        flex-grow: 1;
        padding-bottom: 0;
        border-bottom: 0.3rem solid header-footer-background;
    }

    a, span {
        min-width: 10rem;
        border-top-right-radius:0.8rem;
        border-top-left-radius: 0.8rem;
        transition: none;
        display:flex;
        align-items:center;
    }

    a {
        transition: all 0.2s ease;
    }

    a:hover {
        background-color: #fff;
        transition: all 0.2s ease;
        margin-top: -0.4rem;
        border-bottom-width: 0.4rem;
        border-bottom-style: solid;
    }

    svg {
        fill: #fff;
        margin-right: 0.2rem;
    }

    .docs-guidelines-navPrinciples {
        setNavTab(principlesColor);
    }

    .docs-guidelines-navPractices {
        setNavTab(practicesColor);
    }

    .docs-guidelines-navTools {
        setNavTab(toolsColor);
    }

    .docs-guidelines-navActivities {
        setNavTab(activitiesColor);
    }
}

setNavTabActive(inputColor) {
    .docs-guidelines-tabs {
        border-bottom: 0.8rem solid inputColor;

        .docs-template-category-active {
            border-color: inputColor;
        }
    }

    .docs-template-topics-container {
        border-color: inputColor;
    }
}

.docs-guidelines-category-Activities {
    setNavTabActive(activitiesColor);
}

.docs-guidelines-category-Principles {
    setNavTabActive(principlesColor);
}

.docs-guidelines-category-Practices {
    setNavTabActive(practicesColor);
}

.docs-guidelines-category-Tools {
    setNavTabActive(toolsColor);
}

/* Overrides */
.docs-template-header .docs-guidelines-tabs {
    padding-bottom: 0;

    span:before {
        content: none;
    }
}

.docs-template-header nav span, .docs-template-header nav a {
    padding: 0.5rem 0 0.5rem 1.2rem;
}

.docs-template-header nav li {
    padding-bottom: 0;

}


/* General list styling for index */

.docs-template-topics li a {
    display: inline-block;
    width: 100%;
    padding-left: 1rem;
}

.docs-template-topics-active {
    display: inline-block;
    width: 100%;
    padding-left: 1rem;
}

.docs-template-topics a:hover {
        background: #000;
        color: #fff;
}

/* category-specific styling starts here */

/* ACTIVITIES */

.docs-guidelines-category-Activities {
    .docs-template-topics-container {
        border-color: activitiesColor;
    }

    .docs-template-topics-active {
        background: activitiesColor;
        color: #fff;
    }

    .docs-template-articleBody h1 {
    	 background: activitiesColor;
    	 color: #fff;
    }

    .docs-template-articleBody h1 {
        color: #fff;
        padding: 0 1rem 0 1rem;
        margin: 2rem 0 2rem -1rem;
    }

}

/* PRINCIPLES */

.docs-guidelines-category-Principles {
    .docs-template-topics-container {
        border-color: principlesColor;
    }

    .docs-template-topics-active {
        background: principlesColor;
        color: #fff;
    }

    .docs-template-articleBody h1 {
    	 background: principlesColor;
    	 color: #fff;
    }

    .docs-template-articleBody h1 {
        color: #fff;
        padding: 0 1rem 0 1rem;
        margin: 2rem 0 2rem -1rem;
    }

}

/* PRACTICES */


.docs-guidelines-category-Practices {
    .docs-template-topics-container {
        border-color: practicesColor;
    }

    .docs-template-topics-active {
        background: practicesColor;
        color: #fff;
}

    .docs-template-articleBody h1 {
    	 background: practicesColor;
    	 color: #fff;
    }

    .docs-template-articleBody h1 {
        color: #fff;
        padding: 0 1rem 0 1rem;
        margin: 2rem 0 2rem -1rem;
    }

}

/* TOOLS */

.docs-guidelines-category-Tools {
    
    .docs-template-topics-container {
        border-color: toolsColor;
    }

    .docs-template-topics-active {
        background: toolsColor;
        color: #fff;
    }

    .docs-template-articleBody h1 {
    	 background: toolsColor;
    	 color: #fff;
    }

    .docs-template-articleBody h1 {
        color: #fff;
        padding: 0 1rem 0 1rem;
        margin: 2rem 0 2rem -1rem;
    }

}

/* remove bullet styling for USE list - category icons are used instead */

.docs-guidelines-articleContentUse li {
    list-style-type: none;
}

.docs-guidelines-articleContentUseWhyHow li {
    list-style-type: none;
}
