/* General styling */
docs-fonts = "OpenSans-Light", Arial, Helvetica;
docs-header-font = "OpenSans";
button-focus = 0.2rem solid #275287; // blue
link-color = #275287; // blue
link-hover-color = #fff;
link-hover-background = #275287;
//site-width ?= 80rem; // the width of the entire site.
//site-border ?= 0.1rem solid #ccc; // the borders that appear when site-width exceeded.

/* Main Content Area */
docs-body-background = #f2f2f2; // light grey
docs-content-note-border = #000;

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #3a4947;
header-footer-link = #fff;
header-footer-hover-color = #3a4947; // teal
header-footer-hover-background = #fff;
header-footer-focus = 0.2rem solid #fff; // white
header-nav-link = #fff;
header-nav-background = inherit;
header-nav-hover-color = #185D5E; // lighter teal
header-nav-hover-background = #fff;
header-nav-border-top = none;
header-nav-border-bottom = 0.1rem solid #cfcfcf; // grey
header-active-category = 0.2rem solid #fff;

/* Skip Links */
skip-color = #fff;
skip-background = #3a4947; // teal
skip-focus-outer-border ?= #fff;
skip-focus-inner-border ?= #3a4947; // teal
skip-hover-color = #3a4947; // teal
skip-hover-background = #fff;

/* Logo */
logo-color = #fff;
logo-background = #3a4947; // teal
logo-hover-color = #3a4947; // teal
logo-hover-background = #fff;
logo-focus = 0.2rem solid #fff;
logo-font-path = "../fonts/floe-logo";
logo-unicode = "\e600";

/* Table of Contents Sidebar */
topics-background = #fff;
topics-item-color = #275287; // blue
topics-active-color = #275287; // blue
topics-active-background = #fff;
topics-item-hover-color = #fff;
topics-item-hover-background = #275287; // blue
topics-item-focus-border = 0.2rem solid #275287; // blue
//topics-border-color = #cfcfcf;

/* Table of Contents Hide-Show ribbon */
hideShow-background = #3a4947; // blue
hideShow-color = #fff;
hideShow-focus = 0.2rem solid #fff;
hideShow-hover-color = #275287; // blue
hideShow-hover-background = #fff;

/* Article Body area */
articleBody-color = #000;
articleBody-background = #f2f2f2;

figure-caption-border = #f2f2f2;
figure-background = #fff;

/* Code Blocks */
code-block-background = #fff;
code-block-border = 0.1rem dotted #aaa;
code-block-color = #000;
code-block-link-color = #275287; // blue

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-topics-background = #efefef;

/* Colours for categories */
insightsColor = #008b82;
practicesColor = #0e75ba;
toolsColor = #c02b56;
activitiesColor = #ee3f23;

@import "docs-template.css.styl";

@font-face {
    font-family: "DroidSans";
    src: url("../fonts/DroidSans.ttf") format('truetype');
}

.docs-template-header {

    a {
        display:inline-flex;
        align-items:center;
    }

    h1 {
        padding: 0 1rem;
    }
}

.docs-template-articleBody {
    h1 {
        color: #fff;
        padding: 0 1rem 0 1rem;
        margin: 2rem 0 2rem -1rem;
    }

    figure figcaption {
        border-top: 0;
        text-align: left;
        padding: 1rem 2rem 1rem 1rem;
    }
}

.idg-logo {
    width: 3rem;
    height: auto;
    margin: 0.2rem 0.2rem 0 0.5rem;
    path,
    circle {
        fill: logo-color;
    }
}

a:hover .idg-logo {
    path,
    circle {
        fill: logo-hover-color;
    }
}

.idg-index {
    &.docs-core-sidebar-expanded .docs-template-articleBody {
        // Hack to prevent Sidebar expanded/ collapsed styles from affecting width on index
        width: 100%;
    }

    .docs-template-articleBody {
        padding-top: 2rem;
    }

    .docs-template-articleBody h1 {
        color: #000;
    }

    .idg-highlight-section {
        background-color: #fff;
        padding: 1.5rem;
        margin: 2rem 0;
        border-radius: 0.2rem;
        display:flex;
        align-items:center;
    }

    #idg-index-dimensions-list {
        padding-top: 3rem;
    }

    ul {
        list-style: none;
        list-style-position: inside;
    }
}

// Image that appears on the Index.
#idg-path-image {
    height: auto;
    padding-top: 1rem;
    width: 100%;
}

.idg-icon {
    width: 1rem;
    height: auto;
}

.idg-iconInsights svg,
.idg-iconPractices svg,
.idg-iconTools svg,
.idg-iconActivities svg {
    width: 1rem;
    height: 1rem; //width and height required by IE11.
}

.idg-iconDimensions svg {
    width: 1.5rem;
    height: 1.5rem;
}

.idg-iconDimensionsIndex svg {
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
}

.idg-iconInsights svg {
    fill: insightsColor;
}

.idg-iconPractices svg {
    fill: practicesColor;
}

.idg-iconTools svg {
    fill: toolsColor;
}

.idg-iconActivities svg {
    fill: activitiesColor;
}

.docs-template-topics-container {
    border-left-width: 0.3rem;
    border-right-width: 0.3rem;
}

setNavTab(inputColor) {
    a, span {
        background-color: inputColor;
    }

    a:hover {
        color: inputColor;
        background-color: #fff;
        border-color: inputColor;
    }

    a:hover svg {
        fill: inputColor;
    }

    .docs-template-categoryActive {
        border-color: inputColor;
    }
}

.idg-tabs {
    ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }

    li {
        margin-left: 0.25rem;
        margin-right: 0.25rem
        flex-grow: 1;
        padding-bottom: 0;
        border-bottom: 0.3rem solid header-footer-background;
    }

    a, span {
        min-width: 10rem;
        border-top-right-radius:0.8rem;
        border-top-left-radius: 0.8rem;
        display:flex;
        align-items:center;
    }

    a:hover {
        background-color: #fff;
        margin-top: -0.4rem;
        border-bottom-width: 0.4rem;
        border-bottom-style: solid;
    }

    svg {
        fill: #fff;
        margin-right: 0.5rem;
        width: 1.2rem;
        height: 1.2rem; // width and height required for IE11.
    }

    .idg-navInsights {
        setNavTab(insightsColor);
    }

    .idg-navPractices {
        setNavTab(practicesColor);
    }

    .idg-navTools {
        setNavTab(toolsColor);
    }

    .idg-navActivities {
        setNavTab(activitiesColor);
    }
}

setActiveCategory(inputColor) {
    .idg-tabs {
        border-bottom: 0.8rem solid inputColor;

        .docs-template-category-active {
            border-color: inputColor;
        }
    }

    .docs-template-topics-container {
        border-color: inputColor;
    }

    .docs-template-topics-active {
        background: inputColor;
        color: #fff;
    }

    .docs-template-articleBody h1 {
    	 background: inputColor;
    	 color: #fff;
    }
}

.idg-category-Activities {
    setActiveCategory(activitiesColor);
}

.idg-category-Insights {
    setActiveCategory(insightsColor);
}

.idg-category-Practices {
    setActiveCategory(practicesColor);
}

.idg-category-Tools {
    setActiveCategory(toolsColor);
}

/* Overrides */
.docs-template-header .idg-tabs {
    padding-bottom: 0;

    span:before {
        content: none;
    }
}

.docs-template-header nav span, .docs-template-header nav a {
    padding: 0.5rem 0 0.5rem 1.2rem;
}

.docs-template-header nav li {
    padding-bottom: 0;
}

/* Mobile menu */

.docs-template-category-active span:before {
    display: inline;
}

.idg .docs-template-header .show-for-small-only span,
.idg .docs-template-header .show-for-small-only a {
    padding: 0;
}

/* Styles specific to small screens. Using Foundation 5 value for small screen width */
@media only screen and (max-width: 40em) {

    .docs-template-articleBody {
        h1 {
            font-size: 1.3rem;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    }

    .idg-index .docs-template-articleBody {

        &, .idg-highlight-section {
            padding: 0;
        }

        ul {
            margin:0;
        }

        figure {
            margin: 1.5rem;
        }

        figcaption {
            padding: 0.2rem;
        }
    }

    .docs-core-sidebar-expanded .docs-template-topics-container {
        padding: 0;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    .fl-link-enhanced .docs-template-topics-hideShow {
        min-width: 14rem;
    }
}

/* General list styling for topics sidebar */
.docs-template-topics {
    li a {
        display: inline-block;
        width: 100%;
        padding-left: 1rem;
    }
    
    a:hover {
        background: #000;
        color: #fff;
    }
}

.docs-template-topics-active {
    display: inline-block;
    width: 100%;
    padding-left: 1rem;
}

/* remove bullet styling for USE list - category icons are used instead */

.idg-articleContentUse li {
    list-style-type: none;
}

.idg-articleContentUseWhyHow li {
    list-style-type: none;
}

/* Footer logos */

.footer-logo-links svg {
    width: 6rem;
    height: 7rem;
    fill: #fff;
    stroke: header-footer-background;   
}   

/* remove hover and focus from the anchors (override template), apply to svgs only */
a:hover.footer-logo-links { 
    background: none; 
    svg {
        fill: header-footer-background;
        background-color: #FFF;
    }
}

a:focus.footer-logo-links {
    outline: 0;
    svg {
        outline: header-footer-focus;
    }
}

/* remove default link underline from svg logos */
a.footer-logo-links {
    text-decoration: none;
} 

/* Special styling for P4A Logo. The tree and "Prosperity" text should
appear inverted in order to look proper. */
#tree, #prosperity {
    stroke: header-footer-background;
    fill: header-footer-background;
}

a:hover #tree, a:hover #prosperity {
    stroke: header-footer-background;
    fill: #fff;
}

/* Contrast Themes */

contrast-theme(foregroundColor, backgroundColor) {
  
/* remove hover and focus from the anchors (override template), apply to svgs only */  
    a:hover.footer-logo-links {
        background: none !important;
        svg {
            fill: foregroundColor;
        }
    }
    
    a:focus.footer-logo-links {
        outline: 0 !important;
        svg {
            outline: 0.2rem solid backgroundColor;
        }
    }
    
/* Special styling for P4A Logo. The tree and "Prosperity" text should 
appear inverted in order to look proper. */    
    a:hover #tree, a:hover #prosperity {
        stroke: foregroundColor;
        fill: backgroundColor;
    }
    
    .idg-logo {
        path, circle {
            fill: backgroundColor;
        }
    }

    a:hover .idg-logo {
        path, circle {
            fill: foregroundColor;
        }
    }

    .idg-tabs {
        li {
            border-bottom: none;
        }

        a {
            border-style: solid;
            border-bottom-style: none;

            &:hover svg {
                fill: foregroundColor !important;
            }
        }

        svg {
            fill: backgroundColor;
        }
    }

    .docs-template-category-active {

        span {
            border-color: backgroundColor !important;
            background-color: backgroundColor !important;
            color: foregroundColor !important;
            border-bottom: 0.2rem solid backgroundColor !important;
        }

        svg {
            fill: foregroundColor;
            background-color: backgroundColor !important;
        }
    }

    .docs-template-topics-active {
          border-left: 0.3rem solid foregroundColor;
        }

    .idg-iconPractices svg,
    .idg-iconInsights svg,
    .idg-iconTools svg,
    .idg-iconActivities svg,
    .idg-iconDimensionsIndex svg,
    #prosperity,
    #tree {
        fill: foregroundColor;
        stroke: backgroundColor;
    }

    .footer-logo-links svg,
    #idg-path-image path {
        stroke: foregroundColor;
        fill: backgroundColor;
    }

    .idg-highlight-section {
        border: 0.2rem solid foregroundColor;
    }
}

&.fl-link-enhanced {
        .docs-template-category-active span {
            border-bottom-width: 0.8rem !important;
        }

        .footer-logo-links {
            text-decoration: none !important;
        }
}
    
.fl-theme-bw {
    contrast-theme(#000, #fff);
}

.fl-theme-wb {
    contrast-theme(#fff, #000);
}

.fl-theme-yb {
    contrast-theme(#ff0, #000);
}

.fl-theme-by {
    contrast-theme(#000, #ff0);
}

.fl-theme-lgdg {
    contrast-theme(#bdbdbb, #555);
}
