@import "doc-base";

/* General styling */
doc-fonts = "OpenSans-Light", Arial, Helvetica;
doc-header-font = "RobotoSlab";
button-focus = 0.2rem solid #0000CB;
link-color = #0000CB;
link-hover-color = #fff;
link-hover-background = #0000CB;

/* Main Content Area */
doc-content-background =  #fff;
doc-content-note-border = #000;

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #2F5508;
header-footer-link = #FFFF78;
header-footer-hover-color = #2F5508;
header-footer-hover-background = #FFFF78;
header-footer-focus = 0.2rem solid #FFFF78;
header-nav-link = #fff;
header-active-category = 0.2rem solid #fff;

/* Table of Contents Sidebar */
toc-background = #efefef;
toc-item-color = #000;
toc-active-color = #efefef;
toc-active-background = #000;
toc-item-hover-color = #000;
toc-item-hover-background = #efefef;
toc-item-hover-border = 0.2rem solid #000;
toc-border-color = #cfcfcf;

/* Article Body area */
doc-articleBody = #fff;

figure-caption-color = #000;
figure-caption-border = #fff;
figure-background = #efefef;

/* Code Blocks */
code-block-background = #efefef;
code-block-border = 0.1rem dotted #ddd;
code-block-color = #000;
code-block-link-color = #0000CB;

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-toc-background = #efefef;
