---
title: Facilitate Inclusively
layout: content
category: Practices
---

When organising or leading a meeting or discussion, encouraging equal participation among members is important to ensure that everyone’s voice is heard. Using or creating a space that is accessible to all is the first step; facilitating participation from everyone present (whether remotely or locally) is the ultimate goal.

As a starting point, using accessible communication tools (e.g. accessible presentations or accessible sketching and note-taking tools) during a meeting or discussion allows for greater participation of all members. Staying open to ideas that are offered (a “yes, and” approach*) provides positive reinforcement and encouragement, and can yield unexpected results, while remaining flexible and ready to change direction allows for new ideas to emerge.

Thinking beyond technical limitations and avoiding getting bogged down in technical details too quickly, while using plain language wherever possible to communicate ideas means that the discussion can stay open for longer and more people will be able to participate, resulting in a richer and more productive session.

*"Yes, and..." is a rule-of-thumb response in improvisational comedy that suggests a participant should accept what another participant has stated ("yes") and then expand on that line of thinking ("and").The "Yes" portion of the rule encourages the acceptance of the contributions added by others. By saying yes, we accept the reality created by our partners and begin the collaborative process. (https://en.wikipedia.org/wiki/Yes,_and...)

## Try
* Use accessible communication tools.
* Consider how to support remote participation.
* Make sure your space is physically accessible.
* Ensure that everyone has the necessary background information.

## Why
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconInsights">{{{getCategoryIcon "insights"}}}</span> [Diverse Participation and Perspectives](/insights/DiverseParticipationAndPerspectives.html)</li></ul>

## How
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Accessible Communication Tools](/tools/AccessibleCommunicationTools.html)</li>
<li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [Accessible Design Tools](/tools/AccessibleDesignTools.html)</li></ul>
