<!DOCTYPE html>
{% set lang %}{{ lang | default(config.defaultLanguage) }}{% endset %}
<html lang="{{ lang }}" dir="{{ config.languages[lang].dir }}">
    <head>
        {% include 'partials/head-matter.njk' %}
    </head>
    <body class="">

      {% include 'partials/header.njk' %}

      <main id="content">
          <article class="">
              {% block content %}{% endblock %}
          </article>
      </main>

        </div> <!-- end container -->
        {% uioInit config.languages[lang].uioSlug, config.languages[lang].dir %}

        {% include 'partials/footer.njk' %}
    </body>
</html>
