<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ langDir }}">
    <head>
        {% include "partials/head-matter.njk" %}
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main id="content">
            <article>
                {% block content %}{% endblock %}
            </article>
        </main>
        {% include "partials/footer.njk" %}
        {% uioInit config.languages[locale].uioSlug, langDir %}
    </body>
</html>
