{% extends "layouts/base.njk" %}

{% set bodyClass = "idg-category-" + category %}

{% set editLinkPath %}
{{ page.filePathStem}}.md
{% endset %}

{% set navPages = collections[category + "_" + lang] | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}

{% block content %}

<header class="category-header {{ category | lower }}-bg header-footer-color">
    <div class="wrapper">
        <nav  aria-label="{% translate "breadcrumb", lang %}">
            <ul class="breadcrumbs inline-list">
                <li>
                    <a href="/{% if not (config.defaultLanguage === lang) %}{{ config.languages[lang].slug }}{% endif %}">
                        {% translate "home", lang %}
                    </a>
                </li>
                {% for page in navPages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                <li aria-current="page">{{ eleventyNavigation.title }}</li>
            </ul>
        </nav>
        <h1 class="article-title">{{ title }}</h1>
    </div>
</header>

<div class="wrapper wrapper__article">
    {% include "partials/content.njk" %}

    {% if not navPages.length %}
    {% set childPages = collections[category + "_" + lang] | eleventyNavigation(eleventyNavigation.key) %}
    <nav class="list-articles__contents" aria-label="{{ eleventyNavigation.key }} {% translate "contents", lang %}">
        <ul>
            {# Output page links in alphabetical order #}
            {% for page in childPages |sort(false, true, "title") %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% else %}
    {% include "partials/editOnGitHub.njk" %}
    {% endif %}
</div>
{% endblock %}
