<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/head-matter.njk' %}
    </head>
    <body class="docs-template docs-core-sidebar-expanded idg idg-category-{{ category if category else '404' }}">

        <div class="container docs-template-container">

            {% include 'partials/header.njk' %}
            
            {% if category %}
            {% include 'partials/sidebar.njk' %}
            {% endif %}

            <div class="docs-template-articleBody small-12 medium-8 column">
                {% if category %}
                <div class="small-4 medium-1 column docs-template-topics-hideShow fl-inverted-color">
                    <a href="#" class="docs-corec-sidebar-toggle">Topics</a>
                </div>
                {% endif %}

                <article id="content">
                    <h1>{{ title }}</h1>

                    <div class="flc-toc-tocContainer docs-template-uio-toc"></div>

                    <div class="docs-template-articleContent">
                        {{ content | safe }}
                    </div>

                    {% if page.url !== '/404.html' %}
                    <p class="docs-template-githubLink"><a href="https://github.com/inclusive-design/guide.inclusivedesign.ca/edit/main/src/documents{{ page.url | replace('.html', '.md') if page.url !== '/' else '/index.md' }}" rel="nofollow" target="_blank" class="link-external">Edit this Page on GitHub</a></p>
                    {% endif %}
                </article>

            </div>

            {% include 'partials/footer.njk' %}

        </div> <!-- end container -->

    </body>
</html>
