{% extends "layouts/base.njk" %}

{% set bodyClass = "idg-index" %}

{% set editLinkPath %}
{{ page.filePathStem}}.md
{% endset %}

{% block content %}

<h1>{{ title }}</h1>
{% include "partials/content.njk" %}
{% include "partials/editOnGitHub.njk" %}

{% endblock %}
