---
title: Cause and Effect
layout: content
category: Activities
---

Discover the chain of events that gets you from a cause to a final effect.

This activity demonstrates the potential to have a <strong> broader beneficial impact with our everyday actions.</strong> 

The causes contained in the cards represent everyday things that participants may be doing; they are small tasks such as:
<ul><li>share meeting minutes in a form that your colleague using a screen reader can access,</li>
<li>add sound feedback to a button in your UX design,</li> 
<li>coach employee in managing a pension,</li> 
<li>order real time captioning for meeting.</li>
</ul><br>


The effects are as far away from the causes as possible. They might include: 
<ul><li>grandmother in Ecuador connects with children in LA,</li> 
<li>Polar bear is saved from ice flow in Alaska,</li>
<li> etc.</li> 
</ul>
These should be as specific and diverse as possible.<br></br>

## Step 1
Choose a random card from the Cause deck, then do the same from the Effect deck. Or describe your own cause and effect.

## Step 2
Define a chain of effects that takes you all the way from the initial cause to the final effect. Record each effect and map out the chain of effects - allowing branching or multiple paths where they emerge.

## Additional Resources
[Card deck: Cause and Effect](/images/Cause&Effect Cards.pdf)

## Why
<ul class="idg-articleContentUseWhyHow">
<li>
<span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span>
[Interconnectedness](/principles/Interconnectedness.html)
</li>
<li>
<span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span>
[Virtuous Cycles](/principles/VirtuousCycles.html)
</li>
</ul>
