---
title: Cause and Effect
layout: content
category: Activities
---

This activity demonstrates the potential to have a broader beneficial impact with our everyday actions. The challenge is to define a possible chain of events that could take you from a specific cause to an effect.

Causes defined in this exerise are everyday tasks such as:
• share meeting minutes in a form that your colleague using a screen reader can access, or
• coach an employee in managing a pension.

While the effects might include:
• grandmother in Ecuador connects with children in LA, or
• polar bear is saved from ice flow in Alaska.

The effects are as far away from the causes as possible. 

Use the accompanying [Cause and Effect card deck](/images/CauseAndEffectCards.pdf) (downloadable pdf), or think up your own examples. These should be as specific and diverse as possible, and the relationship between cause and effect should not immediately be clear.

## Step 1
Choose a random card from the Cause deck, then do the same from the Effect deck. Or describe your own cause and effect.

## Step 2
Define a chain of effects that takes you all the way from the initial cause to the final effect. Record each effect and map out the chain of effects - allowing branching or multiple paths where they emerge.

## Why

<ul class="idg-articleContentUseWhyHow">
<li>
<span role="presentation" class="idg-iconInsights">{{{getCategoryIcon "insights"}}}</span>
[Interconnectedness](/insights/Interconnectedness.html)
</li>
<li>
<span role="presentation" class="idg-iconInsights">{{{getCategoryIcon "insights"}}}</span>
[Virtuous Cycles](/insights/VirtuousCycles.html)
</li>
</ul>
