---
title: Functional Mashup
layout: content
category: Activities
---

This activity can be used in a co-design or other group design session to encourage participants to work together toward more creative and resourceful solutions, by thinking beyond the current or obvious.
## How
### Preparation
You will need a deck of object cards. You can create your deck using any available materials. You might print images of different objects on paper or cardstock, use language learning flashcards, cut out magazine images and paste them onto cards, or find other ways to create a collection of random objects. 

If desired and available you can provide additional tools and materials that can be used together with the object cards to build prototypes (e.g. scissors, glue, tape, pipe cleaners, etc.).
### Steps
* Break into smaller groups (3 to 5 people per group is usually best) 
* Each group selects multiple cards from the main deck (the larger group can decide together how many cards/objects each group should select).  
* Each group decides on a random function or purpose. For example, eating utensils, a communication device, a lock, a fashion item, a vehicle, etc.
* The challenge for each group is to use their object cards to create something that fulfills the selected function. The group can agree on specific rules if desired.  

 **Tip**: Brainstorm different approaches and don’t limit your ideas to what is technically possible.
 **Tip**: If there are members in your group that require audio description, be sure to describe the object cards and the process as you move forward. Allow for tactile exploration where appropriate.  
 **Tip**: You can prototype or communicate your solution/concept/idea in whatever way that works best for your group (e.g. sketching, building, describing, etc).   
 **Tip**: In addition to the object cards, you can use the available materials to prototype your idea.     

## Why
The goal of this activity is to promote creative thinking over immediate feasibility. It encourages participants to dig deeper to find unexpected and creative ways of addressing a problem.
<ul class="idg-articleContentUseWhyHow">
<li><span role="presentation" class="idg-iconPractices">{{{getCategoryIcon "practices"}}}</span> [Practice Co-Design](/practices/PracticeCoDesign.html)</li>
<li><span role="presentation" class="idg-iconPractices">{{{getCategoryIcon "practices"}}}</span> [Collaborate](/practices/Collaborate.html)</li>
</ul>

