---
title: Inclusive Design Mapping
layout: content
category: Activities
---

This activity breaks down the [User States and Contexts Tool](/tools/UserStatesAndContexts.html) into modular pieces (the individual wedges, or "facets") and actionable steps. It is also a re-thinking of the original tool.

Here, **user states are reframed as functional requirements of a product or service**. Deficit language or disability classifications that are functionally ambiguous are avoided.

Needs that are commonly met are placed in the middle, and needs that are not well met are placed toward the edge. This demonstrates that the needs of users "on the edge" are greater in number, as well as the phenomena that by meeting edge needs, you also meet the mainstream needs of the middle.

In this activity, the states and contexts facets can be swapped in and out depending on the context and the design challenge. Facets can also be broken down into more specific considerations. For example, the facet of cognitive access might include memory, focus and other considerations. 

This activity is intended to be used in the context of co-design where a diverse set of co-designers, including people who presently have difficulty using the design, are active participants in the design process. Co-designers are able to create their own facets if they can't find a desired state or context within the provided set.

<ul>
<li>The exercise is about **stretching and reaching**: to include people who are currently at the edges and who are therefore usually excluded from the design process.</li>
<li>It is also about **balance and flexibility**: creating a design that does not compromise the experience of one person to make room for the requirements of another.</li>
</ul> 

## Step 1
Choose the facets that are relevant to the needs, preferences and the context you are designing for or critiquing.
<figure>
[![A diagram showing individual facets of the Inclusive Design Mapping Tool](/images/InclusiveDesignMappingTool01.png)](/images/InclusiveDesignMappingTool01.png)
<figcaption>
*Figure 1:* Inclusive Design Mapping Tool - Choosing the Facets
</figcaption>
</figure>

## Step 2
First, map your needs, preferences and context on the selected facets. Next, using a different color, map the product/task/solution you are trying to critique or design.
<figure>
[![A diagram showing individual facets with "yourself" and "product" mapped](/images/InclusiveDesignMappingTool02.png)](/images/InclusiveDesignMappingTool02.png)
<figcaption>
*Figure 2:* Inclusive Design Mapping Tool - Mapping onto the Facets
</figcaption>
</figure>

## Step 3
Now you can put the facets together, draw a jagged outline, and color in the gap between the two outlines.
<figure>
[![A diagram showing facets pieced together into a circle, with mappings](/images/InclusiveDesignMappingTool03.png)](/images/InclusiveDesignMappingTool03.png)
<figcaption>
*Figure 3:* Inclusive Design Mapping Tool - Mapping the Current State
</figcaption>
</figure>
<figure>
[![A diagram showing the gap between self and product maps](/images/InclusiveDesignMappingTool04.png)](/images/InclusiveDesignMappingTool04.png)
<figcaption>
*Figure 4:* Inclusive Design Mapping Tool - Finding the Gap
</figcaption>
</figure>

## Step 4
Once you have a proposed new design, redo the map, with the goal of fully encompassing the jagged outline of the edge users. While iterating through the design process, the mapping can be very useful for identifying where your design does not stretch enough to meet the needs of edge users.
<figure>
[![A diagram showing a new mapping with a positive gap](/images/InclusiveDesignMappingTool05.png)](/images/InclusiveDesignMappingTool05.png)
<figcaption>
*Figure 5:* Inclusive Design Mapping Tool - Proposing the Desired State
</figcaption>
</figure>

## How
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [User States and Contexts](/tools/UserStatesAndContexts.html)</li></ul>

## Why
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [One-Size-Fits-One](/principles/OneSizeFitsOne.html)</li>
<li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [Disability as Mismatch](/principles/DisabilityAsMismatch.html)</li>
<li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [Interconnectedness](/principles/Interconnectedness.html)</li></ul>
