---
title: States and Contexts Mapping
layout: content
category: Activities
---

This activity breaks down the User States and Contexts tool into modular pieces and actionable steps, and it is also a re-thinking of the original User States and Contexts tool.

Here, states are reframed as functional requirements. Deficit language or disability classifications that are functionally ambiguous are avoided.

Placing needs that are commonly met in the middle and needs that are not well met further out, demonstrates that edge needs are greater in number, and communicates the phenomena that by meeting edge needs, you also meet the needs in the middle.

In this activity, the states and contexts facets can be swapped in and out depending on the context and the design challenge. Facets can also be broken down into more specific considerations. For example, cognitive access might include memory, focus and other considerations. 

This activity is intended to be used in the context of co-design where a diverse set of co-designers, including people who presently have difficulty using the design, are active participants in the design process. Co-designers are able to create their own facets if they can't find a desired state or context within the provided set.

<ul>
<li>The exercise is about <strong>stretching and reaching</strong>: to include people who are currently at the edges and who are therefore usually excluded from the design process.</li>
<li>It is also about <strong>balance and flexibility</strong>: creating a design that does not compromise the experience of one person to make room for the requirements of another.</li>
</ul> 

## Step 1
Choose the facets that are relevant to the needs, preferences and the context you are designing for or critiquing.
![A diagram showing individual state and context facets](/images/user states & contexts-modular-01.png)
## Step 2
First, map your needs, preferences and context on the selected facets. Next, using a different color, map the product/task/solution you are trying to critique or design.
![A diagram showing individual facets with "yourself" and "product" mapped](/images/user states & contexts-modular-02.png)
## Step 3
Now you can put the facets together, draw a jagged outline, and color in the gap between the two outlines.
![A diagram showing facets pieced together into a circle, with mappings](/images/user states & contexts-modular-03.png)
![A diagram showing the gap between self and product maps](/images/user states & contexts-modular-04.png)
## Step 4
Once you have a proposed new design, redo the map, with the goal of fully encompassing the jagged outline of the edge users. While iterating through the design process, the mapping can be very useful for identifying where your design does not stretch enough to meet the needs of edge users.
![A diagram showing a new mapping with a positive gap](/images/user states & contexts-modular-05.png)

## How
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconTools">{{{getCategoryIcon "Tools"}}}</span> [User States and Contexts](/tools/UserStatesAndContexts.html)</li></ul>

## Why
<ul class="idg-articleContentUseWhyHow"><li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [One-Size-Fits-One](/principles/OneSizeFitsOne.html)</li>
<li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [Disability as Mismatch](/principles/DisabilityAsMismatch.html)</li>
<li><span role="presentation" class="idg-iconPrinciples">{{{getCategoryIcon "principles"}}}</span> [Interconnectedness](/principles/Interconnectedness.html)</li></ul>
