---
permalink: '/admin/index.html'
eleventyExcludeFromCollections: true
locale: en
---
<!doctype html>
<html>
  <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Content Manager | {% __ 'title' %}</title>
      <link rel="icon" type="image/png" href="/assets/images/favico.png">
  </head>
  <body>
    <script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js"></script>
  </body>
</html>
