@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "github";
    src:
        url("../fonts/github-1.eot#iefix") format("embedded-opentype"),
        url("../fonts/github-1.ttf"),
        url("../fonts/github-1.eot");
}

:root {
    --insightsColor: #008b82;
    --practicesColor: #0e75ba;
    --toolsColor: #c02b56;
    --activitiesColor: #ee3f23;
    --headerBGColor: #3a4947;
}

body {
    background-color: #f2f2f2;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Utility */

.wrapper {
    margin: 0 auto;
    max-width: 80rem;
    padding-inline: 1.125rem;
}

.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline;
}

.bg-primary {
    background-color: var(--headerBGColor);
}

.color-primary {
    color: #fff;
}

.bg-category-insights {
    background-color: var(--insightsColor);
}

.bg-category-practices {
    background-color: var(--practicesColor);
}

.bg-category-tools {
    background-color: var(--toolsColor);
}

.bg-category-activities {
    background-color: var(--activitiesColor);
}

.idg-icon-practices {
    fill: var(--practicesColor);
}

.idg-icon-activities {
    fill: var(--activitiesColor);
}

.idg-icon-tools {
    fill: var(--toolsColor);
}

.idg-icon-insights {
    fill: var(--insightsColor);
}

#prosperity,
#tree {
    fill: var(--headerBGColor);
}

/* Block */

.article-title {
    font-size: 3rem;
    font-weight: normal;
}

#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    color: var(--ll-text-color);
    height: auto;
    overflow: auto;
    width: auto;
}

.idg-locale {
    display: flex;
    justify-content: end;
    padding-block-start: 1rem;
    padding-inline: 2rem;
    width: 100%;
}

.idg-locale a {
    color: #fff;
}

.banner {
    align-items: center;
    color: inherit;
    display: inline-flex;
    text-decoration: none;
}

.banner__heading {
    color: inherit;
    font-size: 2.75rem;
}

.banner__logo {
    height: 4.325rem;
    margin-block-start: 0.2rem;
    margin-inline-end: 1.2rem;
    width: 3rem;
}

.banner__logo svg * {
    fill: #fff;
}

.menu {
    font-size: 1.5rem;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu li {
    flex-grow: 1;
}

.menu li + li {
    margin-inline-start: 0.5rem;
}

.menu a {
    align-items: center;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    color: inherit;
    display: flex;
    padding-block: 0.5rem;
    padding-inline: 1.2rem 0;
    text-decoration: none;
}

.menu svg {
    fill: #fff;
    height: 1.2rem;
    margin-inline-end: 0.5rem;
    width: 1.2rem;
}

footer {
    font-size: 1.1rem;
    text-align: center;
}

footer svg {
    fill: #fff;
    height: 7rem;
    stroke: var(--headerBGColor);
    width: 6rem;
}

footer a {
    color: inherit;
}

.footer_logo {
    text-decoration: none;
}

.breadcrumbs li + li::before {
    content: ">";
    padding: 0 0.6rem;
}

.breadcrumbs a {
    color: inherit;
}

.category-header {
    padding: 1.2rem;
}

.list-articles ul {
    padding-left: 0;
}

.list-articles li {
    list-style-type: none;
    margin-left: 1rem; /* offset to align SVG icon with default list style */
}

.list-articles li svg {
    height: 1rem; /* width and height required by IE11. */
    width: 1rem;
}

.idg-iconDimensionsIndex,
.idg-iconDimensionsIndex svg {
    height: 3.5rem;
    vertical-align: middle;
    width: 3.5rem;
}

/* UIO Specifc styling */

.fl-prefsEditor-separatedPanel .fl-panelBar {
    background-color: var(--headerBGColor);
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    margin-right: 0;
}
