@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("../fonts/RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "github";
    src:
        url("../fonts/github-1.eot#iefix") format("embedded-opentype"),
        url("../fonts/github-1.ttf"),
        url("../fonts/github-1.eot");
}

:root {
    --insightsColor: #008b82;
    --practicesColor: #0e75ba;
    --toolsColor: #c02b56;
    --activitiesColor: #ee3f23;
    --headerFooterColor: #fff;
    --headerFooterBGColor: #3a4947;
    --mobileNavListBGColor: #fff;
    --mobileNavListColor: #3a4947;
    --desktopNavListColor: #fff;
    --linkColor: #275287;
    --mainBackground: #f2f2f2;
    --mainColor: #000;
}

body {
    background-color: var(--mainBackground);
    color: var(--mainColor);
    display: flex;
    flex-direction: column;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Utility */

button:focus,
a:focus {
    outline-width: 0.2rem;
    outline-style: solid;
}

.wrapper {
    margin: 0 auto;
    max-width: 80rem;
    padding-inline: 1.125rem;
}

.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline;
}

.header-footer-bg{
    background-color: var(--headerFooterBGColor);
}

.header-footer-color {
    color: var(--headerFooterColor);
}

.insights-bg {
    background-color: var(--insightsColor);
}

.practices-bg {
    background-color: var(--practicesColor);
}

.tools-bg {
    background-color: var(--toolsColor);
}

.activities-bg {
    background-color: var(--activitiesColor);
}

.icon-practices {
    fill: var(--practicesColor);
}

.icon-activities {
    fill: var(--activitiesColor);
}

.icon-tools {
    fill: var(--toolsColor);
}

.icon-insights {
    fill: var(--insightsColor);
}

/* Block */

.article-title {
    font-size: 3rem;
    font-weight: normal;
}

#skip-to-content {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-to-content:focus {
    clip: auto;
    clip-path: none;
    color: var(--headerFooterColor);
    height: auto;
    overflow: auto;
    width: auto;
}

.banner {
    align-items: center;
    color: inherit;
    display: inline-flex;
    padding: 0 0.4rem;
    text-decoration: none;
}

.banner:focus {
    outline-color: var(--headerFooterColor);
}

.banner:active {
    background: var(--headerFooterColor);
    color: var(--headerFooterBGColor);
    outline-color: var(--headerFooterColor);
}

.banner-heading {
    font-size: 2.75rem;
    color: inherit;
}

.banner-logo {
    height: 4.325rem;
    margin-block-start: 0.2rem;
    margin-inline-end: 1.2rem;
    min-width: 3rem;
    width: 3rem;
}

.banner:active .idg-logo-idrc {
    fill: var(--headerFooterBGColor);
}

.idg-icon-menu {
    height: 1.2rem;
    width: 1.7rem;
}

.idg-icon-language {
    height:1.7rem;
    width: 1.7rem;
}

.idg-logo-idrc {
    fill: var(--headerFooterColor);
    height: 100%;
    width: 100%;
}

.wrapper__article {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.wrapper__article a {
    color: var(--linkColor);
}

.wrapper__article a:focus {
    outline-color: var(--linkColor);
    text-decoration: none;
}

.wrapper__article a:active {
    background-color: var(--linkColor);
    color: #fff;
}

.disclosure-button {
    align-items: center;
    background-color: var(--headerFooterBGColor);
    border: none;
    display: flex;
    margin: 0.4rem;
    justify-content: center;
}

.disclosure-button:focus {
    outline-color: var(--headerFooterColor);
}

.disclosure-button svg {
    fill: var(--headerFooterColor);
    margin-inline-end: 0.5rem;
}

.disclosure-button--language {
    font-size: 1rem;
    align-self: flex-end;
}
.disclosure-button--nav {
    width: 7rem;
}

.nav {
    font-size: 1.5rem;
}

.nav li {

}

.nav-menu {
    background: var(--headerFooterBGColor);
    color: var(--headerFooterColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.menu-language {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.nav-list svg {
    width: 1.2rem;
    height: 1.2rem;
}

#idg-nav-menu-button[aria-expanded="false"] + .nav-list__mobile {
    display: none;
}

.nav-list__mobile {
    list-style: none;
    padding: 0;
    background-color: var(--mobileNavListBGColor);
    margin: 0;
    width: 100%;
}

.nav-list__mobile li {
    padding: 0.4rem;
}

.nav-list__mobile svg {
    fill: var(--mobileNavListColor);
}

.nav-list__mobile a {
    color: var(--mobileNavListColor);
    background-color: var(--mobileNavListBGColor);
    text-decoration: none;
    display: block;
    padding: 0.4rem 1rem;
    margin: 0.2rem;
}

.nav-list__mobile a:focus {
    outline-color: var(--headerFooterBGColor);
}

.nav-desktop {
    display: none;
}

.nav-list__desktop svg {
    fill: var(--desktopNavListColor);
}

.nav-list__desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.4rem;
}

.nav-list__desktop li {
    flex-grow: 1;
}

.nav-list__desktop a {
    align-items: center;
    color: inherit;
    display: flex;
    gap: 0.5rem;
    min-width: 8rem;
    padding-block: 0.5rem;
    padding-inline: 0.7rem 0;
    text-decoration: none;
}

@media all and (min-width: 640px) {
    .nav-menu {
      display: none;
    }

    .nav-desktop {
        display: inherit;
    }

    .nav-list__desktop a {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
    }

    .nav-list__desktop li + li {
        margin-inline-start: 0.5rem;
    }
}

#idg-language-button[aria-expanded="false"] + .language-list {
    display: none;
}

.language-list {
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    list-style: none;
    padding: 0;
    margin: 0;
}

.language-list a {
    color: var(--headerFooterColor);
    display: block;
    padding: 0.4rem 1rem;
    margin: 0.2rem;
}

.language-list a:focus {
    outline-color: color(--headerFooterColor);
}

.language-list a[aria-current="page"] {
    text-decoration: none;
    font-weight: bold;
    inline-padding: 0.4rem;
}

.language-list a[aria-current="page"]::before {
    content: "\2713";
    padding-inline: 0.4rem;
}

footer {
    font-size: 1.1rem;
    text-align: center;
}

footer a {
    color: inherit;
}

.footer__logo-links {
    display: inline-block;
}

.footer__logo-links svg {
    height: 7rem;
    width: 6rem;
    fill: var(--headerFooterColor);
}

.idg-logo-p4a {
    --idg-fill: var(--headerFooterBGColor);
    --idg-stroke: var(--headerFooterBGColor);
}

.breadcrumbs li + li::before {
    content: ">";
    padding: 0 0.6rem;
}

.breadcrumbs a {
    color: inherit;
}

.category-header {
    padding: 1.2rem;
}

.list-articles ul {
    padding-left: 0;
}

.list-articles li {
    list-style-type: none;
    margin-left: 1rem; /* offset to align SVG icon with default list style */
}

.list-articles li svg {
    height: 1rem; /* width and height required by IE11. */
    width: 1rem;
}

.index__highlight {
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 3rem;
    margin: 2rem 0;
    border-radius: 0.2rem;
}

.idg-icon-dimensions {
    height: 3.5rem;
    width: 3.5rem;
    vertical-align: middle;
}

.index-text-image {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
}

#idg-path-image {
    min-width: 33%;
}

@media all and (min-width: 640px) {
    .index-text-image {
        flex-direction: row;
    }
}

#idg-index-dimensions-list {
    padding-top: 3rem;
}

#idg-index-dimensions-list ul {
    list-style: none;
    list-style-position: inside;
}

.githubLink {
    margin-top: 2rem;
}

.githubLink a:before {
    display: inline-block;
    vertical-align: bottom;
    font-family: "github";
    content: "\e600";
    font-size: 1.3rem;
    padding-right: 0.5rem;
}


/* Exceptions */

.list-articles--contents li {
    margin: 0.4rem 0;
}

/* UIO Specifc styling */

.fl-prefsEditor-separatedPanel .fl-panelBar {
    /* background-color: var(--headerFooterBGColor);
    border-bottom: none;
    display: flex;
    justify-content: flex-end; */
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    /* margin-right: 0; */
}
