<!DOCTYPE html>
<html lang="en">
    <head>
        {{> headMatter}}
    </head>
    <body class="docs-template docs-core-sidebar-expanded docs-inclusive-design-guides docs-inclusive-design-guides-category-{{document.category}}">

        <div class="container docs-template-container">

            {{> header }}

            {{> sidebar }}

            <div class="docs-template-articleBody small-12 medium-8 column">

                <div class="small-4 medium-1 column docs-template-topics-hideShow fl-inverted-color">
                    <a href="#" class="docs-corec-sidebar-toggle">Topics</a>
                </div>

                <article id="content">
                    <h1>{{document.title}}</h1>

                    <div class="flc-toc-tocContainer docs-template-uio-toc"> </div>

                    <div class="docs-template-articleContent">
                        {{{rewriteMdLinks content}}}
                    </div>

                    <p class="docs-template-githubLink"><a href="{{getGithubLocation}}" rel="nofollow" target="_blank" class="link-external">Edit this Page on GitHub</a></p>
                </article>

            </div>

            {{> footer }}

        </div> <!-- end container -->

    </body>
</html>
