<p class="docs-template-githubLink">
    <a href="https://github.com/inclusive-design/guide.inclusivedesign.ca/edit/main/src{{ editLinkPath }}" rel="nofollow" target="_blank" class="link-external">{% translate "edit", lang %}</a>
</p>
