<footer class="bg-primary color-primary">
    <div class="wrapper">
      <p>Created by the <a href="https://wiki.fluidproject.org/display/fluid/The+Inclusive+Design+Guide" rel="nofollow" target="_blank">community members</a> of the</br>
      <a href="http://idrc.ocad.ca/" rel="nofollow" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University,</a>
      and supported by</p>
      <p>
          <a class="footer_logo" aria-label="FLOE Project" href="http://www.floeproject.org/" target="_blank">{% include 'svg/logo-floe.svg' %}</a>
          <a class="footer_logo" aria-label="Prosperity for All" href="http://www.prosperity4all.eu/" target="_blank">{% include 'svg/logo-P4A.svg' %}</a>
      </p>
      <p>Hosted with <a href="https://netlify.com/">Netlify</a>.</p>
      <p>
          This documentation is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC BY 3.0</a>.
      </p>
    </div>
</footer>
