<footer class="row docs-template-footer fl-inverted-color">
    <p>
        {% set org %}</br><a href='{{ _(site.orgURL) }}' rel='nofollow' target='_blank'>{{ _(site.org) }}</a>{% endset %}
        {% set ocad %}<a href='{{ _(site.ocadURL) }}' target='_blank'>{{ _(site.ocad) }}</a>{% endset %}
        {{ _i("Created by the ${communityLink}community members${closeLink} of ${org} at ${ocad}, and supported by", {
            closeLink: "</a>",
            communityLink: "<a href='https://wiki.fluidproject.org/display/fluid/The+Inclusive+Design+Guide' rel='nofollow' target='_blank'>",
            org: org,
            ocad: ocad
        }) | safe }}
    </p>

    <p>
        <a class="footer-logo-links" aria-label="FLOE Project" href="http://www.floeproject.org/" target="_blank">{% include 'svg/logo-floe.svg' %}</a>
        <a class="footer-logo-links" aria-label="Prosperity for All" href="http://www.prosperity4all.eu/" target="_blank">{% include 'svg/logo-P4A.svg' %}</a><br/>
    </p>

    <p>
        {{ _i("Hosted with ${netlify}.", {netlify: "<a href='https://netlify.com/'>Netlify</a>"}) | safe }}
    </p>

    <p>
        {% set license %}<a rel='license' href='{{ _(site.licenseURL) }}'>{{ _(site.license) }}</a>{% endset %}
        {{ _i("This documentation is licensed under a ${license}.", {license: license}) | safe }}
    </p>
</footer>
