<footer class="row docs-template-footer fl-inverted-color">
    <p>Created by the <a href="https://wiki.fluidproject.org/display/fluid/The+Inclusive+Design+Guide" rel="nofollow" target="_blank">community members</a> of the</br>
    <a href="http://idrc.ocad.ca/" rel="nofollow" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University,</a>
    and supported by</p>
    <p>
        <a class="footer-logo-links" aria-label="FLOE Project" href="http://www.floeproject.org/" target="_blank">{% include 'svg/logo-floe.svg' %}</a> <a class="footer-logo-links" aria-label="Prosperity for All" href="http://www.prosperity4all.eu/" target="_blank">{% include 'svg/logo-P4A.svg' %}</a><br/>
    </p>
    <p>
        This documentation is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC BY 3.0</a>.
    </p>
</footer>

<script type="text/javascript">
    docsCore.init("/");
    jQuery( "#menu" ).menu({
        position: {my: "right top", at: "right bottom"},
        icons: {submenu:"ui-icon-blank"},
        // Remove the anchors from the tabindex as they are triggered
        // via the select event. (see below)
        create: function (event, ui) {
            jQuery("#menu .ui-menu-item a").attr("tabindex", -1);
        },
        // The jQuery menu doesn't seem to like it when the <a> are
        // specified as the "item" and are nested under an <li>. There
        // seems to be styling issues and occassionally an error thrown.
        // The page transition work around below is used to maintian the semantic structure,
        // while allowing the menu to behave as normal.
        select: function( event, ui ) {
            var location = ui.item.children("a").attr("href");
            if (location) {
                window.location.href = location;
            }
        }
    });
</script>
