<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>{{  title }} | {{ _(site.title) }} {% gettext_var locale, site.title %}</title>
<link rel="icon" type="image/png" href="/assets/images/favico.png">

<link rel="stylesheet" href="/assets/styles/normalize.css">
{# <link rel="stylesheet" href="/assets/styles/foundation.min.css">
<link rel="stylesheet" href="/lib/jquery-ui/themes/base/core.css">
<link rel="stylesheet" href="/lib/jquery-ui/themes/base/menu.css">
<link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css"> #}

{% uioStyles %}
<link rel="stylesheet" href="/assets{{ assets['/styles/app.css'] }}">

{% uioScripts %}
<script defer src="/assets{{ assets['/scripts/app.js'] }}"></script>
<script defer src="/assets{{ assets['/scripts/matomo.js'] }}"></script>
