<!-- Skip Link -->
<nav class="fl-inverted-color">
    <a id="skip-to-content" href="#content">{% __ 'skipToContent' %}</a>
</nav>
<!-- END skip link -->

<header class="ignore-for-TOC site-header header-footer-bg header-footer-color fl-inverted-color">
    {% include "partials/uio.njk" %}

    <div class="menus">
        {% include 'partials/language.njk' %}
        {% include 'partials/nav-mobile.njk' %}
    </div>

    <div class="wrapper">
        <a class="banner" href="/{% if not (lang === config.defaultLanguage) %}{{ config.languages[lang].slug }}{% endif %}">
            <span class="banner-logo">
                {% svg_sprite "logo-idrc" %}
            </span>
            <span class="banner-heading">{% __ 'title' %}</span>
        </a>

        {% include 'partials/nav-desktop.njk' %}

    </div>


</header>
