<nav class="idg-language-picker menu menu__mobile" aria-labelledBy="idg-language-button">
    <button id="idg-language-button" class="disclosure-button disclosure-button--header disclosure-button--language" aria-expanded="false" aria-controls="idg-language-list">
        {% include 'svg/language.svg' %}
        {{ _("Language") }}
    </button>
    <ul id="idg-language-list" class="language-list">
         {% localeLink locale, translationKey, category, collections %}
    </ul>
</nav>
