<nav class="idg-language-picker menu menu-language" aria-labelledBy="idg-language-button">
    <button id="idg-language-button" class="disclosure-button disclosure-button--language" aria-expanded="false" aria-controls="idg-language-list">
        {% svg_sprite "icon-language" %}
        {{ _("Language") }}
    </button>
    <ul id="idg-language-list" class="language-list">
         {% localeLink locale, translationKey, category, collections %}
    </ul>
</nav>
