{% set navPages = collections.all | eleventyNavigation %}
<!-- Highlight the (active) category the document belongs to. -->
{% for item in navPages %}
    {% set slug = item.key | lower %}
    {% if item.locale === locale %}
    {% set inCategory = item.key === category %}
    <li class="idg-nav{{ item.key }}{% if inCategory %} docs-template-category-active{% endif %}">
        <a href="{{ item.url }}"{% if inCategory %} aria-current="page"{% endif %}>
            {% icon slug %} {{ item.title }}
        </a>
    </li>
    {% endif %}
{% endfor %}
