{% set navPages = collections.all | eleventyNavigation %}
<!-- Highlight the (active) category the document belongs to. -->
{% for item in navPages %}
    {% set slug = item.key | lower %}
    {% set iconPath = 'svg/icon-' + slug + '.svg' %}
    <li class="">
        <a href="{{ item.url }}" class="bg-category-{{ item.key | lower }}" {% if item.key === category %} aria-current="page"{% endif %}>
            {% include iconPath %} {{ item.key }}
        </a>
    </li>
{% endfor %}
