{% set topics = collections.all | eleventyNavigation(category) %}
<div class="docs-corec-sidebar-bar ignore-for-TOC docs-template-topics-container small-8 medium-3 column">
    <nav id="topics" class="docs-template-topics" tabindex="-1">
        <!-- Output only the table of contents matching the current document's category -->
        <h2 class="docs-template-category">{{ category }}</h2>
        <ul>
            {% for topic in topics %}
                <li>
                    <a href="{{ topic.url }}"{% if topic.url === page.url %}class="docs-template-topics-active" aria-current="page"{% endif %}>{{ topic.key }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
